@import 'tailwindcss';

@theme {
  --default-font-family: 'Inter', 'sans-serif';
  --font-sans: var(--default-font-family);

  --color-brand-primary: #0077b6;
  --color-primary: #001219;

  --color-chart-violet: #9600ff;
  --color-chart-pink: #ff00c1;
  --color-chart-green: #95e214;
  --color-chart-yellow: #fff700;
  --color-chart-orange: #f6511d;
  --color-chart-blue: #00a6ed;

  --default-transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);

  --default-transition-duration: 0.5s;
}

/* Переопределение стилей для container */
.container {
  width: 100% !important;
  max-width: none !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 1rem !important; /* 16px на мобильных */
  padding-right: 1rem !important; /* 16px на мобильных */
}

/* Десктопные стили для container */
@media (min-width: 1200px) {
  .container {
    padding-left: 2.5rem !important; /* 40px на десктопе */
    padding-right: 2.5rem !important; /* 40px на десктопе */
  }
}
